@tailwind base;
@layer base {
  html {
    @apply text-gray-200;
  }
}
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 5px;
}
